body, html {
    position: relative;
    height: 100%;
    padding: 20px;
    margin: 0;
    background: black;
    background-image: url('../img/microbes.jpg');
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
  }

  .jumbotron { padding: 0; }
  
  .panel-body { background-color: lightgrey; }

  /* #sample-metadata { font-size: 1.2rem; } */