ody, html {
    position: relative;
    height: 100%;
    padding: 20px;
    margin: 0;
    background: black;
    /* background-image: url("../images/nasa.jpg"); */
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover;
  }